<template>
  <!-- A responsive 12 column grid similar to that of Bootstrap or other frameworks. See https://vuetifyjs.com/en/layout/grid -->
  <VContainer>
    <VRow class="text-center">
      <!-- cols="12" means 'take up full width of all screen sizes' since 12/12 = 100% -->
      <VCol cols="12">
        <h1 class="display-3 font-weight-bold mb-3">
          Certain Lending
        </h1>

        <h2 class="display-2 mb-12">
          Full-Stack Assignment
        </h2>

        <VImg
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="200"
        />
      </VCol>

      <!-- An example of a helper spacing class, meaning 'margin-bottom, size 4 (24px)' https://vuetifyjs.com/en/layout/spacing -->
      <VCol class="mb-4">
        <!-- `display-2` is an example of built in font css typography classes https://vuetifyjs.com/en/style/typography -->
        <h1 class="display-2 font-weight-bold mb-3">
          Welcome to Vuetify
        </h1>

        <p class="subheading font-weight-regular">
          For help and collaboration with other Vuetify developers,
          <br>please join our online
          <!-- Note: `href` is used for 'real' HTML links, while `to` is used for internal SPA Vue-Router links-->
          <a
            href="https://community.vuetifyjs.com"
            target="_blank"
          >Discord Community</a>
        </p>
      </VCol>

      <VCol
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          What's next?
        </h2>

        <VRow justify="center">
          <!-- Note: Vue's `v-for` syntax creates (objectValue, index) to iterate over. Unique keys are required.-->
          <a
            v-for="(next, i) in whatsNext"
            :key="i"
            :href="next.href"
            class="subheading mx-3"
            target="_blank"
          >{{ next.text }}</a>
        </VRow>
      </VCol>

      <VCol
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Important Links
        </h2>

        <VRow justify="center">
          <a
            v-for="(link, i) in importantLinks"
            :key="i"
            :href="link.href"
            class="subheading mx-3"
            target="_blank"
          >{{ link.text }}</a>
        </VRow>
      </VCol>

      <VCol
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Ecosystem
        </h2>

        <VRow justify="center">
          <a
            v-for="(eco, i) in ecosystem"
            :key="i"
            :href="eco.href"
            class="subheading mx-3"
            target="_blank"
          >{{ eco.text }}</a>
        </VRow>
      </VCol>
    </VRow>
  </VContainer>
</template>

<script>
export default {
  name: 'HelloWorld',

  data: () => ({
    ecosystem: [
      {
        text: 'vuetify-loader',
        href: 'https://github.com/vuetifyjs/vuetify-loader'
      },
      {
        text: 'github',
        href: 'https://github.com/vuetifyjs/vuetify'
      },
      {
        text: 'awesome-vuetify',
        href: 'https://github.com/vuetifyjs/awesome-vuetify'
      }
    ],
    importantLinks: [
      {
        text: 'Documentation',
        href: 'https://vuetifyjs.com'
      },
      {
        text: 'Chat',
        href: 'https://community.vuetifyjs.com'
      },
      {
        text: 'Made with Vuetify',
        href: 'https://madewithvuejs.com/vuetify'
      },
      {
        text: 'Twitter',
        href: 'https://twitter.com/vuetifyjs'
      },
      {
        text: 'Articles',
        href: 'https://medium.com/vuetify'
      }
    ],
    whatsNext: [
      {
        text: 'Explore components',
        href: 'https://vuetifyjs.com/components/api-explorer'
      },
      {
        text: 'Select a layout',
        href: 'https://vuetifyjs.com/layout/pre-defined'
      },
      {
        text: 'Frequently Asked Questions',
        href: 'https://vuetifyjs.com/getting-started/frequently-asked-questions'
      }
    ]
  })
};
</script>
