<template>
  <!-- All Vuetify components need to be children of <VApp> -->
  <VApp>
    <VAppBar
      app
      color="primary"
      dark
    >
      <!-- examples of Vuetify helper CSS alignment classes: https://vuetifyjs.com/en/styles/flex#flex-align -->
      <div class="d-flex align-center">
        <!-- Vuetify lazy loading image component: https://vuetifyjs.com/en/components/images#images -->
        <VImg
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <VImg
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>
      <!-- Fill space to right align all content below this component: https://vuetifyjs.com/en/components/grids#spacers -->
      <VSpacer />

      <VBtn
        href="https://gitlab.com/harrison_certainlending/interview-take-home/-/tree/master"
        target="_blank"
        text
      >
        <span class="mr-2">Source Code</span>
        <VIcon>mdi-open-in-new</VIcon>
      </VBtn>
    </VAppBar>
    <!-- VContent is the view that will render the component specified in router/index.js -->
    <VContent>
      <router-view />
    </VContent>
  </VApp>
</template>

<script>
export default {
  name: 'App',

  data: () => ({
    //
  })
};
</script>
